/* MODAL CSS */

.social_login{
    text-align: center;
}

.social_log{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

.social_log li {
    margin: 0 4px;
}

.social_log li img {
    width: 45px;
}

.social_log p {
    color: #8c8c8c;
}