:root {
  --primary: #FFEBE0;
  --secondary: #FFFFFF;
  --terciary: #384861;
  --cuartiary: #CC8E22;
  --quintary: #39ABA0;
}

.profile-container {
  padding-top: 20px;
}

.jumbotron {
  background-color: var(--primary);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
}

.user-data {
  text-align: center;
}

.user-data h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.user-data p {
  font-weight: 400;
  color: #777;
}


.animals-container{
  margin-top: 20px;
  background-color: var(--primary);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
}




.animal-card:hover {
  transform: translateY(-5px);
  box-shadow: #333;
}

.animal-image {
  border-radius: 8px 8px 0 0;
}

.modal-content {
  border-radius: 8px;
}

.modal-header, .modal-footer {
  border: none;
}

 

.scroll-container {
  width: 100%;
  overflow-x: auto;
}

.scroll-content {
  display: flex;
  gap: 20px;
  padding: 70px;
}


  