:root {
  --primary: #FFEBE0;
  --secondary: #FFFFFF;
  --terciary: #384861;
  --cuartiary: #CC8E22;
  --quintary: #39ABA0;
}

.profile-container {
  padding-top: 40px;
}

.jumbotron {
  background-color: var(--primary);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  padding-top: 45px;
  margin-bottom: 20px;
}

.user-data {
  text-align: center;
}

.user-data h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.user-data p {
  font-weight: 400;
  color: #777;
}


.animals-container {
  position: relative;
  background: var(--primary);
  padding: 20px;
}

.animals-container .scroll-container {
  display: flex;
  background: var(--primary);
  padding:30px 0;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.animals-container .animalCard{
  padding-left: 20px;
}

.animals-container .control {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #02293b;
  cursor: pointer;
  object-fit: contain;
  padding: 10px;
  z-index: 10;
}

.animals-container .prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animals-container .next {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.animal-card {
  cursor: pointer;
}

.animal-image {
  border-radius: 8px 8px 0 0;
}

#staticEmail{
  padding-left: 10px;
}

.item{
    background-color: var(--primary);
}